.app-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: map-get($space-sizes, large);
  padding-right: map-get($space-sizes, large);
  padding-bottom: map-get($space-sizes, large);
  padding-left: map-get($space-sizes, large);
  width: 100vw;
  user-select: none;

  > hr {
    opacity: 0.02;
  }
}

.app-footer-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: auto;
  padding-right: map-get($space-sizes, xsmall);

  & > *:last-child {
    margin-left: map-get($space-sizes, xxsmall);
  }
}
