.sub-list-sub-item {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  opacity: 1;

  animation: fadeIn 0.18s ease;
  border-bottom-width: map-get($space-sizes, xxxxsmall);
  border-bottom-style: solid;
  border-color: rgba(map-get($colors, contrast), 0.1);
  padding-top: map-get($space-sizes, xsmall);

  padding-right: map-get($space-sizes, xxlarge);
  padding-bottom: map-get($space-sizes, xsmall);
  padding-left: 72px;
  width: 100lvw;
  max-height: 60px;
  overflow: hidden;

  @keyframes fadeIn {
    from {
      opacity: 0;
      padding-top: 0;
      padding-bottom: 0;
      max-height: 0;
    }
    to {
      opacity: 1;
      padding-top: map-get($space-sizes, xsmall);
      padding-bottom: map-get($space-sizes, xsmall);
      max-height: 60px;
    }
  }

  &:hover,
  &:active {
    background-color: rgba(map-get($colors, contrast), 0.03);
  }

  &.hidden {
    display: none;
  }
}

.sub-list-sub-item-arrow {
  position: absolute;
  top: -8px;
  left: 28px;

  width: auto; /* Ensure it doesn't affect the parent's height */
  height: 64px;
  pointer-events: none; /* Ensure it doesn't interfere with other elements */
}

.sub-list-sub-item-token {
  margin-left: map-get($space-sizes, xxsmall);

  width: map-get($custom-sizes, token-image);
  height: map-get($custom-sizes, token-image);
  overflow: hidden;

  > img {
    cursor: pointer;
    border-radius: 50%;
    width: map-get($custom-sizes, token-image);
    height: map-get($custom-sizes, token-image);
    user-select: none;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.5;
    }
  }

  &.no-turn {
    opacity: 0.5;
  }
}

.sub-list-sub-item-description {
  word-wrap: break-word;
  padding-right: map-get($space-sizes, normal);
  padding-left: map-get($space-sizes, small);
  width: map-get($custom-sizes, token-name);
  overflow: hidden;
  user-select: none;
  text-overflow: wrap;
  white-space: wrap;

  &.no-turn {
    opacity: 0.5;
  }
}

.sub-list-sub-item-name {
  word-wrap: break-word;
  max-height: 34px;
  overflow: hidden;
  font-weight: 500;
  font-size: map-get($font-sizes, normal);
  user-select: none;

  > input[type='text'] {
    box-shadow: none;
    font-family: inherit;
    text-align: left;
  }

  > .editable {
    cursor: text;
  }
}

.sub-list-sub-item-caption {
  display: flex;
  align-items: center;

  > svg {
    width: map-get($font-sizes, normal);
    height: map-get($font-sizes, normal);
  }

  & > *:first-child {
    margin-right: map-get($space-sizes, xxsmall);
  }
}

.sub-list-sub-item-icons {
  display: flex;
  flex-direction: row;
  margin-left: auto;

  & > * {
    margin-left: map-get($space-sizes, xxsmall);
  }

  > button {
    &.no-turn {
      opacity: 0.5;
    }
  }
}
