.sub-list-item {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  border-bottom-width: map-get($space-sizes, xxxxsmall);
  border-bottom-style: solid;
  border-color: rgba(map-get($colors, contrast), 0.1);
  padding-top: map-get($space-sizes, xsmall);
  padding-right: map-get($space-sizes, xxlarge);
  padding-bottom: map-get($space-sizes, xsmall);
  padding-left: map-get($space-sizes, xxsmall);

  width: 100lvw;
  height: 60px;

  &:hover,
  &:active {
    background-color: rgba(map-get($colors, contrast), 0.03);
  }

  &.hidden {
    display: none;
  }
}

.sub-list-item-expand {
  transition-duration: 0.15s;
  transition-property: transform;
  overflow: hidden;

  &.open {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

.sub-list-item-down-line {
  position: absolute;
  top: -2px;
  left: 28px;

  width: auto; /* Ensure it doesn't affect the parent's height */
  height: 64px;
  pointer-events: none; /* Ensure it doesn't interfere with other elements */
}

.sub-list-item-token {
  margin-left: map-get($space-sizes, xxsmall);
  width: map-get($custom-sizes, token-image);
  height: map-get($custom-sizes, token-image);
  overflow: hidden;

  > img {
    cursor: pointer;
    border-radius: 50%;
    width: map-get($custom-sizes, token-image);
    height: map-get($custom-sizes, token-image);
    user-select: none;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.5;
    }
  }

  &.no-turn {
    opacity: 0.5;
  }
}

.sub-list-item-description {
  padding-right: map-get($space-sizes, normal);
  padding-left: map-get($space-sizes, small);
  width: map-get($custom-sizes, token-name);
  user-select: none;

  &.no-turn {
    opacity: 0.5;
  }
}

.sub-list-item-name {
  word-wrap: break-word;
  max-height: 34px;
  overflow: hidden;
  font-weight: 500;
  font-size: map-get($font-sizes, normal);
  user-select: none;

  > input[type="text"] {
    box-shadow: none;
    font-family: inherit;
    text-align: left;
  }

  > .editable {
    cursor: text;
  }
}

.sub-list-item-caption {
  display: flex;
  align-items: center;

  > svg {
    width: map-get($font-sizes, normal);
    height: map-get($font-sizes, normal);
  }

  & > *:first-child {
    margin-right: map-get($space-sizes, xxsmall);
  }
}

.sub-list-item-icons {
  display: flex;
  flex-direction: row;
  margin-left: auto;

  > label {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    transition: background-color 0.1s ease;
    border: none;
    border-radius: 30%;
    background-color: transparent;
    width: map-get($font-sizes, xlarge);
    height: map-get($font-sizes, xlarge);

    > span {
      display: flex;
      position: absolute;
      top: 75%;
      left: 75%;
      align-items: center;
      transform: translate(-50%, -50%);
      pointer-events: none;
      font-weight: 500;
      font-size: map-get($font-sizes, normal);
      user-select: none;
      text-shadow: 0 0 5px rgba(map-get($colors, contrast), 0.3);
    }

    &:not(.disabled) {
      cursor: pointer;
      &:hover {
        background-color: rgba(map-get($colors, contrast), 0.05);
      }

      &:active {
        background-color: rgba(map-get($colors, contrast), 0.1);
      }
    }

    &.no-turn {
      opacity: 0.5;
    }
  }

  & > * {
    margin-left: map-get($space-sizes, xxsmall);
  }

  > button {
    &.no-turn {
      opacity: 0.5;
    }
  }
}
