$colors: (
  primary: #bb99ff,
  contrast: #ffffff,
  primary-text: #ffffff,
  background-primary: #000000,
  background-secondary: #424242,
  disabled-text: grey,
  disabled-primary: grey,
);

@import '_theme.scss';
