@font-face {
  font-weight: 1 999;
  src: url("/fonts/Raleway-VariableFont_wght.ttf") format("truetype");
  font-family: "Raleway";
}

@font-face {
  font-style: italic;
  font-weight: 1 999;
  src: url("/fonts/Raleway-VariableFont_wght.ttf") format("truetype");
  font-family: "Raleway-Italic";
}

* {
  -moz-font-feature-settings: "lnum" 1;
  -moz-font-feature-settings: "lnum=1";
  -ms-font-feature-settings: "lnum" 1;
  -o-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1;
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  min-width: 0%;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
  scrollbar-width: thin;
  font-variant-numeric: lining-nums;
}

html {
  font-size: map-get($font-sizes, normal);
}

body {
  display: flex;
  width: 100vw;
  height: 100dvh;
  overflow-x: hidden;
  overflow-y: hidden;
}

#root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  width: 100dvw;
  height: 100dvh;
  font-family: "Raleway", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

::-webkit-scrollbar {
  width: map-get($space-sizes, xsmall);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 30%;
}

*::-webkit-sscrollbar-thumb {
  border-radius: 5%;
  background-color: rgba(0, 0, 0, 0.2);
}
