svg {
  vertical-align: middle;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &.no-turn {
    opacity: 0.5;
  }

  &.filled {
    &:not(.primary) {
      fill: map-get($colors, primary-text);

      path {
        fill: map-get($colors, primary-text);
      }
    }

    &.primary {
      fill: map-get($colors, primary);

      path {
        fill: map-get($colors, primary);
      }
    }
  }

  &.colored {
    &:not(.primary) {
      stroke: map-get($colors, primary-text);

      path {
        stroke: map-get($colors, primary-text);
      }
    }

    &.primary {
      stroke: map-get($colors, primary);

      path {
        stroke: map-get($colors, primary);
      }
    }

    &.disabled {
      stroke: map-get($colors, disabled-primary);

      path {
        stroke: map-get($colors, disabled-primary);
      }
    }
  }

  &.large {
    width: 100%;
    height: 100%;
  }

  &.medium {
    width: 75%;
    height: 75%;
  }

  &.small {
    width: 50%;
    height: 50%;
  }
}
